{% extends './modal.html' %}

{% block modalTitle %}Advertisement{% endblock %}

{% block modal %}
<form action="{% url 'advertisements' %}" method="POST">
    {% csrf_token %}
    <div class="col">
        <div class="row">
            <div class="col-md-12 mb-2">
                <label for="advertisement_name" class="form-label">Advertisement</label>
                <select name="advertisement_name" id="advertisement_name" class="form-select" data-placeholder="Choose one thing">
                    <option></option>
                    {% for grouped_ad in grouped_ads %}
                    <option value="{{ grouped_ad.advertisement }}">{{ grouped_ad.advertisement }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-12 mb-2">
                <label for="ad_price" class="form-label">Price</label>
                <input type="number" class="form-control" id="ad_price" name="ad_price" value="60" />
            </div>
            <div class="col-md-12 mt-2">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}