{% extends './modal.html' %}

{% block modalTitle %}Export Monthly Log Report{% endblock %}

{% block modal %}
<form action="{% url 'monthly_report_generate' %}" method="POST">
    {% csrf_token %}
    <div class="col">
        <div class="row">
            <div class="col-md-12 mb-2">
                <label for="date_to" class="form-label">Advertisement</label>
                <select name="advertisement_name" id="advertisement_name" class="form-select" id="single-select-optgroup-field" data-placeholder="Choose one thing">
                    <option></option>
                    {% for grouped_ad in grouped_ads %}
                    <option value="{{ grouped_ad.advertisement }}">{{ grouped_ad.advertisement }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-12 mb-2">
                <label for="date_from" class="form-label">Date From</label>
                <input type="date" class="form-control" id="date_from" name="month_from" value="" />
            </div>
            <div class="col-md-12 mb-2">
                <label for="date_to" class="form-label">Date to</label>
                <input type="date" class="form-control" id="date_to" name="date_to" />
            </div>
            <div class="col-md-12 mt-2">
                <button type="submit" class="btn btn-primary">Export PDF</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}