{% extends "./includes/base.html" %}
{% load static %}
{% block title %}University DXVL Dashboard{% endblock title %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'assets/vendor/libs/apex-charts/apex-charts.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/css/special.css' %}">
{% endblock page_css %}

{% block content %}
<div class="row g-2">
    <div class="col-12 col-lg-12 order-2 order-md-3 order-lg-2 mb-3">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-6 col-lg-3 mb-2">
                <div class="card p-3 d-flex">
                    <div class="d-flex justify-content-between align-items-start">
                        <div class="text-wrap">
                            <h4>{{ total_logs }}</h4>
                            <span class="mt-2 fw-normal text-muted">Total Ads Aired</span>
                        </div>
                        <div class="bg-warning p-2 rounded" style="opacity: 0.8;">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                style="fill: rgba(255, 255, 255, 1);"
                            >
                                <path d="M19.903 8.586a.997.997 0 0 0-.196-.293l-6-6a.997.997 0 0 0-.293-.196c-.03-.014-.062-.022-.094-.033a.991.991 0 0 0-.259-.051C13.04 2.011 13.021 2 13 2H6c-1.103 0-2 .897-2 2v16c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2V9c0-.021-.011-.04-.013-.062a.952.952 0 0 0-.051-.259c-.01-.032-.019-.063-.033-.093zM16.586 8H14V5.414L16.586 8zM6 20V4h6v5a1 1 0 0 0 1 1h5l.002 10H6z"></path>
                                <path d="M8 12h8v2H8zm0 4h8v2H8zm0-8h2v2H8z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-2">
                <div class="card p-3 d-flex">
                    <div class="d-flex justify-content-between align-items-start">
                        <div class="text-wrap">
                            <h4>{{ total_logs_this_week }}</h4>
                            <span class="fw-normal text-muted">This Week Ads Aired</span>
                        </div>
                        <div class="bg-success p-2 rounded" style="opacity: 0.8;">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                style="fill: rgba(255, 255, 255, 1);"
                            >
                                <path d="M21 11h-3V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v14c0 1.654 1.346 3 3 3h14c1.654 0 3-1.346 3-3v-6a1 1 0 0 0-1-1zM5 19a1 1 0 0 1-1-1V5h12v13c0 .351.061.688.171 1H5zm15-1a1 1 0 0 1-2 0v-5h2v5z"></path>
                                <path d="M6 7h8v2H6zm0 4h8v2H6zm5 4h3v2h-3z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-2">
                <div class="card p-3 d-flex">
                    <div class="d-flex justify-content-between align-items-start">
                        <div class="text-wrap">
                            <h4>{{ total_last_week_logs }}</h4>
                            <span class="fw-normal text-muted">Last Week Ads Aired</span>
                        </div>
                        <div class="bg-danger p-2 rounded" style="opacity: 0.8;">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                style="fill: rgba(255, 255, 255, 1);"
                            >
                                <path d="M21 11h-3V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v14c0 1.654 1.346 3 3 3h14c1.654 0 3-1.346 3-3v-6a1 1 0 0 0-1-1zM5 19a1 1 0 0 1-1-1V5h12v13c0 .351.061.688.171 1H5zm15-1a1 1 0 0 1-2 0v-5h2v5z"></path>
                                <path d="M6 7h8v2H6zm0 4h8v2H6zm5 4h3v2h-3z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-2">
                <div class="card p-3">
                    <div class="d-flex justify-content-between align-items-start">
                        <div class="text-wrap">
                            <h4>{{ count_unknown_artist }}</h4>
                            <span class="fw-normal text-muted">Aired Advertisements</span>
                        </div>
                        <div class="bg-primary p-2 rounded" style="opacity: 0.8;">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                style="fill: rgba(255, 255, 255, 1);"
                            >
                                <path d="M12 2A10.13 10.13 0 0 0 2 12a10 10 0 0 0 4 7.92V20h.1a9.7 9.7 0 0 0 11.8 0h.1v-.08A10 10 0 0 0 22 12 10.13 10.13 0 0 0 12 2zM8.07 18.93A3 3 0 0 1 11 16.57h2a3 3 0 0 1 2.93 2.36 7.75 7.75 0 0 1-7.86 0zm9.54-1.29A5 5 0 0 0 13 14.57h-2a5 5 0 0 0-4.61 3.07A8 8 0 0 1 4 12a8.1 8.1 0 0 1 8-8 8.1 8.1 0 0 1 8 8 8 8 0 0 1-2.39 5.64z"></path>
                                <path d="M12 6a3.91 3.91 0 0 0-4 4 3.91 3.91 0 0 0 4 4 3.91 3.91 0 0 0 4-4 3.91 3.91 0 0 0-4-4zm0 6a1.91 1.91 0 0 1-2-2 1.91 1.91 0 0 1 2-2 1.91 1.91 0 0 1 2 2 1.91 1.91 0 0 1-2 2z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-12 order-2 order-md-3 order-lg-2 mb-4">
        <div class="card">
            <div class="card-header m-0 me-2 pb-3">
                <h5>DXVL Aired Advertisement</h5>
                <span class="text-muted">Daily Aired Advertisements Played in DXVL</span>
            </div>
            <div class="row row-bordered g-0">
                <div class="col-md-12">
                    <div id="WeeklyComparisonAiredAdvertisements" class="px-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12 order-2 mb-4">
        <div class="card h-100">
            <div class="card">
                <div class="card-header remove-padding-bottom">
                    <h5>30 Recent Aired Advertisement</h5>
                    <span class="text-muted">Most recent advertisement uploaded</span>
                </div>
                <div class="table-responsive text-nowrap">
                    <table class="table" id="MydataTable">
                        <caption class="ms-3">List of aired advertisements</caption>
                        <thead>
                            <tr>
                                <th>Advertisement</th>
                                <th>Artist</th>
                                <th>Date Aired</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dxvl_log in dxvl_logs %}
                            <tr>
                                <td>{{ dxvl_log.advertisement|truncatechars:20 }}</td>
                                <td>
                                    <span class="fw-medium">
                                        {{ dxvl_log.artist|truncatechars:20 }}
                                    </span>
                                </td>
                                <td>
                                    {{ dxvl_log.date_aired }}
                                </td>
                                <td>
                                    {% if dxvl_log.remarks == True %}
                                    <span class="badge bg-label-primary me-1">
                                        Aired
                                    </span>
                                    {% else %}
                                    <span class="badge bg-label-danger me-1">
                                        Unaired
                                    </span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block page_js %}
<script src="{% static 'assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>
<script src="{% static 'assets/js/dashboards-analytics.js' %}"></script>
{% endblock page_js %}
