{% extends "./includes/base.html" %}
{% load static %}
{% block title %}University DXVL Dashboard{% endblock title %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'assets/vendor/libs/apex-charts/apex-charts.css' %}">
{% endblock page_css %}

{% block content %}
<div class="row">
    <div class="col-12 col-lg-12 order-2 order-md-3 order-lg-2 mb-4">
        <div class="card">
            <div class="row row-bordered g-0">
                <div class="col-md-12">
                    <h5 class="card-header m-0 me-2 pb-3">Advertisement Aired Today</h5>
                    <div id="testing" class="px-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-lg-8 order-1 mb-4">
        <div class="card h-100">
            <div class="card-body px-0">
                
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4 order-2 mb-4">
        <div class="card h-100">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="card-title m-0 me-2"></h5>
                <div class="dropdown">
                    <button
                        class="btn p-0"
                        type="button"
                        id="cardOpt6"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
                        <a class="dropdown-item" href="#">View More</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <ul class="p-0 m-0">
                    <li class="d-flex mb-4 pb-1">
                        <div class="avatar flex-shrink-0 me-3">
                        </div>
                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block page_js %}
<script src="{% static 'assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>
<script src="{% static 'assets/js/dashboards-analytics.js' %}"></script>
{% endblock page_js %}