{% extends "./includes/base.html" %}
{% load static %}
{% block title %}University DXVL Dashboard{% endblock title %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'assets/vendor/libs/apex-charts/apex-charts.css' %}">
{% endblock page_css %}

{% block content %}
<div class="row g-2">
    <div class="col-12 col-lg-12 order-2 order-md-3 order-lg-2 mb-3">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-6 col-lg-3 mb-2">
                <div class="card p-4 d-flex">
                    <div>
                        <h4>102,340</h4> Total Advertisements
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-2">
                <div class="card p-4 d-flex">
                    <div>
                        <h4>1,400</h4> Todays Advertisements
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-2">
                <div class="card p-4 d-flex">
                    <div>
                        <h4>1,500</h4> Last Week Advertisements
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-2">
                <div class="card p-4 d-flex">
                    <div>
                        <h4>24</h4> System Users
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-12 order-2 order-md-3 order-lg-2 mb-4">
        <div class="card">
            <div class="row row-bordered g-0">
                <div class="col-md-12">
                    <h5 class="card-header m-0 me-2 pb-3">Weekly Comparison Aired Advertisement</h5>
                    <div id="WeeklyComparisonAiredAdvertisements" class="px-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12 order-2 mb-4">
        <div class="card h-100">
            <div class="card">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="card-header">30 Recent Aired Advertisement</h5>
                </div>
                <div class="table-responsive text-nowrap">
                    <table class="table" id="MydataTable">
                        <caption class="ms-3">List of category of lubricants</caption>
                        <thead>
                            <tr>
                                <th>Advertisement</th>
                                <th>Artist</th>
                                <th>Date Aired</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dxvl_log in dxvl_logs %}
                            <tr>
                                <td>{{ dxvl_log.advertisement }}</td>
                                <td>
                                    <span class="fw-medium">
                                        {{ dxvl_log.artist }}
                                    </span>
                                </td>
                                <td>
                                    {{ dxvl_log.date_aired }}
                                </td>
                                <td>
                                    {% if dxvl_log.status == True %}
                                    <span class="badge bg-label-primary me-1">
                                        Active
                                    </span>
                                    {% else %}
                                    <span class="badge bg-label-danger me-1">
                                        Inactive
                                    </span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block page_js %}
<script src="{% static 'assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>
<script src="{% static 'assets/js/dashboards-analytics.js' %}"></script>
{% endblock page_js %}
