{% extends "./includes/auth_base.html" %}
{% load static %}

{% block auth_content %}
<div class="authentication-inner">
  <div class="card">
    <div class="card-body">
      <div class="app-brand justify-content-center">
        <a href="/" class="app-brand-link gap-2">
          <span class="app-brand-logo demo">
            <img src="{% static '/assets/img/icons/auth_header.png' %}" class="img-fluid" width="200" height="200" alt="DXVL Log Management Software" srcset="">
          </span>
        </a>
      </div>

      <div class="text-center">
        <h4 class="mb-2">Authenticate your account here!</h4>
        <p class="mb-4">DXVL Log Management Software</p>
      </div>

      <form class="mb-3" method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="email" class="form-label">email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter your email"
            autofocus />
        </div>
        <div class="mb-3 form-password-toggle">
          <div class="d-flex justify-content-between">
            <label class="form-label" for="password">password</label>
          </div>
          <div class="input-group input-group-merge">
            <input
              type="password"
              id="password"
              class="form-control"
              name="password"
              placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
              aria-describedby="password" />
            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
          </div>
        </div>
        <div class="mb-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="remember-me" checked/>
            <label class="form-check-label" for="remember-me"> Remember Me </label>
          </div>
        </div>
        <div class="mb-3">
          <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
        </div>
      </form>

      <p class="text-center">
        <span>New on our platform?</span>
        <a href="{% url 'register' %}">
          <span>Create an account</span>
        </a>
      </p>
    </div>
  </div>
</div>
{% endblock auth_content %}