{% extends "./includes/auth_base.html" %}
{% load static %}

{% block auth_content %}
<div class="authentication-inner">
  <div class="card">
    <div class="card-body">
      <div class="app-brand justify-content-center">
        <a href="/" class="app-brand-link gap-2">
          <span class="app-brand-logo demo">
            <img src="{% static '/assets/img/icons/logo.png' %}" class="img-fluid" width="150" height="150" alt="DXVL Log Management Software" srcset="">
          </span>
        </a>
      </div>

      <div class="text-center">
        <h4 class="mb-2">Login your account here!</h4>
        <p class="mb-4">Log Management Software</p>
      </div>

      <form class="mb-3" method="POST">
        {% csrf_token %}
        {% if error %}
        <div class="alert alert-danger">
          {{ error }}
        </div>
        {% endif %}
        {% for input in login_form %}
          {% if input.id_for_label == "id_password" %}
          <div class="mb-3 form-password-toggle">
            <div class="d-flex justify-content-between">
              <label class="form-label" for="{{ input.id_for_label }}">{{ input.label }}</label>
            </div>
            <div class="input-group input-group-merge">
              {{ input }}
              <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
            </div>
          </div>
          {% else %}
          <div class="mb-3">
            <label for="{{ input.id_for_label }}" class="form-label">{{ input.label }}</label>
            {{ input }}
          </div>
          {% endif %}
        {% endfor %}
        <div class="mb-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="remember-me" checked/>
            <label class="form-check-label" for="remember-me"> Remember Me </label>
          </div>
        </div>
        <div class="mb-3">
          <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
        </div>
      </form>

      <p class="text-center">
        <span>New on our platform?</span>
        <a href="{% url 'register' %}">
          <span>Create an account</span>
        </a>
      </p>
    </div>
  </div>
</div>
{% endblock auth_content %}