{% extends "./includes/base.html" %}
{% load static %}
{% block title %}University DXVL Dashboard{% endblock title %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'assets/vendor/css/special.css' %}">
{% endblock page_css %}

{% block content %}
<div class="row">
    <div class="col-12 col-lg-12 order-2 order-md-3 order-lg-2 mb-4">
        {% include './includes/message_box.html' %}
        <div class="card">
            <div class="card">
                <div class="card-header remove-padding-bottom">
                    <div class="d-flex justify-content-between align-items-start">
                        <div>
                            <h5>DXVL Aired Advertisement Logs</h5>
                            <span class="text-muted">Your all existing logs in your database.</span>
                        </div>
                        <button data-bs-toggle="modal" data-bs-target="#generateLogsModal" class="btn btn-primary">Generate Weekly Logs</button>
                    </div>
                </div>
                <div class="table-responsive text-nowrap">
                    <table class="table" id="MydataTable">
                        <caption class="ms-3">Aired advertisement of DXVL</caption>
                        <thead>
                            <tr>
                                <th>Advertisement</th>
                                <th>Artist</th>
                                <th>Date Aired</th>
                                <th>Remarks</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dxvl_log in page_object %}
                            <tr>
                                <td>{{ dxvl_log.advertisement|truncatechars:20 }}</td>
                                <td>
                                    <span class="fw-medium">
                                        {{ dxvl_log.artist|truncatechars:20 }}
                                    </span>
                                </td>
                                <td>
                                    {{ dxvl_log.date_aired }}
                                </td>
                                <td>
                                    {% if dxvl_log.remarks == True %}
                                    <span class="badge bg-label-primary me-1">
                                        Aired
                                    </span>
                                    {% else %}
                                    <span class="badge bg-label-danger me-1">
                                        Unaired
                                    </span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if dxvl_log.status == True %}
                                    <span class="badge bg-label-primary me-1">
                                        Active
                                    </span>
                                    {% else %}
                                    <span class="badge bg-label-danger me-1">
                                        Inactive
                                    </span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation" class="m-3">
                        <ul class="pagination">
                            {% if page_object.has_previous %}
                                <li class="page-item first">
                                    <a class="page-link" href="?page=1"><i class="tf-icon bx bx-chevrons-left"></i></a>
                                </li>
                                <li class="page-item prev">
                                    <a class="page-link" href="?page={{ page_object.previous_page_number }}"><i class="tf-icon bx bx-chevron-left"></i></a>
                                </li>
                            {% else %}
                                <li class="page-item first disabled">
                                    <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-left"></i></a>
                                </li>
                                <li class="page-item prev disabled">
                                    <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-left"></i></a>
                                </li>
                            {% endif %}

                            {% for num in page_object.paginator.page_range %}
                                {% if page_object.number == num %}
                                    <li class="page-item active">
                                        <a class="page-link" href="javascript:void(0);">{{ num }}</a>
                                    </li>
                                {% elif num > page_object.number|add:'-3' and num < page_object.number|add:'3' %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if page_object.has_next %}
                                <li class="page-item next">
                                    <a class="page-link" href="?page={{ page_object.next_page_number }}"><i class="tf-icon bx bx-chevron-right"></i></a>
                                </li>
                                <li class="page-item last">
                                    <a class="page-link" href="?page={{ page_object.paginator.num_pages }}"><i class="tf-icon bx bx-chevrons-right"></i></a>
                                </li>
                            {% else %}
                                <li class="page-item next disabled">
                                    <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-right"></i></a>
                                </li>
                                <li class="page-item last disabled">
                                    <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-right"></i></a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>
{% include './includes/generate_weekly.html' %}
{% endblock content %}


{% block page_js %}
<script>
   $(function(){
            $(document).ready(function() {
                let today = new Date();

                let startOfWeek = new Date(today.setDate(today.getDate() - today.getDay() + 1));
                let nextWeek = new Date(startOfWeek);
                nextWeek.setDate(nextWeek.getDate() + 7);

                let weekForm = getISOWeek(startOfWeek);
                let weekTo = getISOWeek(nextWeek);

                $('#week_from').val(weekForm);
                $('#week_to').val(weekTo);

                function getISOWeek(date) {
                    let year = date.getFullYear();
                    let month = date.getMonth() + 1;
                    let day = date.getDate();
                    if (month < 10) month = '0' + month;
                    if (day < 10) day = '0' + day;
                    return year + '-W' + getWeekNumber(date);
                }

                function getWeekNumber(date) {
                    date = new Date(Date.UTC(date.getFullYear(), date.getMonth(), date.getDate()));
                    date.setUTCDate(date.getUTCDate() + 4 - (date.getUTCDay() || 7));
                    let yearStart = new Date(Date.UTC(date.getUTCFullYear(), 0, 1));
                    let weekNo = Math.ceil((((date - yearStart) / 86400000) + 1) / 7);
                    return weekNo < 10 ? '0' + weekNo : weekNo;
                }
            });
        });
</script>
{% endblock page_js %}